body {
    font-family: 'Segoe UI';
    background-color: #f8f8ff;
    margin: 0px 5px 5px 5px;
    padding: 0px 5px 5px 5px;
    color: #555;
    font-size: 12px;
}

.panel {
    background-color: #f8f8ff;
    -moz-user-select: none;
    background-image: none;
    border: 2px solid #428bca;
    border-radius: 4px;
    padding: 6px 12px;
    margin-top: 8px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width:100px;
    height: 40px;
}

/*.btn-50 {
    width: 50px;
}

.btn-100 {
    width: 100px;
}

.btn-150 {
    width: 150px;
}

.btn-200 {
    width: 205px;
}*/

.btn-primary {
    color: #FFF;
    background-color: #428BCA;
    border-color: #357EBD;
}

    .btn-primary:hover {
        color: #FFF;
        background-color: #357EBD;
        border-color: #428BCA;
    }

.form-control {
    display: block;
    width: 100%;
    height: 24px;
    padding: 3px 6px;
    font-size: 12px;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

textarea.form-control {
    height: auto;
}

.text-bold {
    font-weight: bold;
}

.img {
    /*min-width: 125px;
    min-height: 155px;*/
    width: 125px;
    height: 158px;
    border: 1px solid #428bca;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    background-color: #FFFFFF;
}

.b1 {
    margin-left: -53%;
}

.b2 {
    width: 57%;
    margin-right: 71%;
    margin-top: 1%;
}

.b3 {
    margin-left: -33%;
    margin-top: 0px;
    width: 60%;
}

.b3o {
    margin-left: -70%;
    margin-top: 0px;
    width: 60%;
}

.b4 {
    margin-top: 29%;
    margin-left: -32%;
}

.b4o {
    margin-top: 29%;
    margin-left: -70%;
}

.b5 {
    margin-left: -22%;
}

.b6 {
    margin-left: -40%;
}

.b7 {
    width: 296%;
}

.b8 {
    width: 125%;
}

.b9 {
    width: 132%;
    margin-left: 33%;
}

.select-dropdown {
    position: relative;
    background-color: #e6e6e6;
    width: auto;
    float: left;
    max-width: 100%;
    border-radius: 2px;
    margin-left: -33%;
    margin-top: 9%;
}

    .select-dropdown select {
        font-family: "helvetica neue", helvetica;
        font-size: 12px;
        font-weight: 200;
        max-width: 100%;
        padding: 8px 24px 8px 10px;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #FFF;
        background-image: none;
        border: 1px solid #bdbdbd;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }

        .select-dropdown select:active, .select-dropdown select:focus {
            outline: none;
            box-shadow: none;
        }

    .select-dropdown:after {
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #aaa;
    }

.td1 {
    width: 100px;
    color: #0c0c0c;
    font-weight: bold;
}

.td2 {
    width: 150px;
    font-weight: 500;
    color: #0364b7;
}
